<h1>Dashboard</h1>

<%= form_for @tweet do |form| %>
  <%= form.hidden_field :content_type, value: "TextTweet" %>
  <%= form.fields_for :content do |content_form|  %>
    <%= content_form.text_field :body, placeholder: "Tweet Here", required: true %>
    <%= form.submit "Tweet" %>
  <% end %>
<% end %>

<%= form_for @tweet do |form| %>
  <%= form.hidden_field :content_type, value: "PhotoTweet" %>
  <%= form.fields_for :content do |content_form|  %>
    <%= content_form.file_field :image, required: true %>
    <%= form.submit "Tweet" %>
  <% end %>
<% end %>

<%= render @tweets %>

