<h1>Dashboard</h1>

<%= tweet_form_for(TextTweet) do |form| %>
  <%= form.text_field :body, placeholder: "Tweey here!", required: true %>
<% end %>

<%= tweet_form_for(PhotoTweet) do |form| %>
  <%= form.file_field :image, required: true %>
<% end %>

<%= render @dashboard.timeline %>

