<h1>Dashboard</h1>

<%= form_for @tweet do |form| %>
  <%= form.fields_for :content do |content_form|  %>
    <%= content_form.text_field :body, placeholder: "Tweet Here", required: true %>
  <% end %>
  <%= form.submit "Tweet" %>
<% end %>

<%= render @tweets %>

